body {
  background-color: #476072;
}
hr {
  border-style: inset;
  border-color: white;
}
img {
  height: 340px;
}
h1{
  color: white;
}
h2{
  color: white;
}
h3{
  color: white;
}
